.hero {
    height: 100vh;
    background: linear-gradient(180deg, #E1B995, #e1ffea22 90%);
    display: flex;
}

.Hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.Hero-left h2 {
    color: #090909;
    font-size: 60px;
    font-weight: 600;
}

.Hero-left p {
    color: #171717;
    font-size: 20px;
    font-weight: 700;
}

.hand-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hand-hand-icon img {
    width: 105px;
}

.hero-lastest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background-color: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-14k {
    width: 70px;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: #171717;
    margin-top: -235px;
    margin-left: 220px;
    border-radius: 20px;
    font-size: 20px;
    background-color: white;
}

.hero-cappuccico {
    width: 200px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: -280px;
    margin-top: 210px;
}

@media (max-width:1280px) {
    .Hero-left {
        padding-left: 100px;
    }

    .Hero-left h2 {
        font-size: 60px;
    }

    .Hero-left p {
        font-size: 20px
    }

    .hero-lastest-btn {
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
    }

    .hero-right img {
        width: 350px;
    }

    .hero-14k {
        margin-top: -285px;
    }
}

@media (max-width:1024px) {
    .Hero-left {
        padding-left: 80px;
    }

    .Hero-left h2 {
        font-size: 50px;
    }

    .Hero-left p {
        font-size: 18px
    }

    .hero-lastest-btn {
        width: 220px;
        height: 50px;
        font-size: 18px;
    }

    .hero-right img {
        width: 325px;
    }

    .hero-14k {
        margin-top: -245px;
    }
}

@media (max-width:800px) {
    .Hero-left {
        padding-left: 30px;
    }

    .Hero-left h2 {
        font-size: 40px;
    }

    .Hero-left p {
        font-size: 12px
    }

    .hero-lastest-btn {
        width: 175px;
        height: 40px;
        font-size: 13px;
    }

    .hero-right img {
        width: 300px;
        ;
    }

    .hero-14k {
        margin-top: -225px;
    }
}

@media (max-width:500px) {
    .hero {
        height: 70vh;
        flex-direction: column;
    }

    .hero-right {
        display: none;
    }

    .Hero-left h2 {
        font-size: 30px;
    }

    .Hero-left p {
        font-size: 10px;
    }

    .hero-lastest-btn {
        width: 200px;
        height: 45px;
        font-size: 14px;
    }
}